<div class='window'>
	<div class='window-controls'>
		<div class='window-control minimize'><div>-</div></div>
		<div class='window-control resize'><div>O</div></div>
		<div class='window-control close'><div>X</div></div>
	</div>
	
	<div class='window-header'>
		<div class='row window-title moveCurs'></div>
		<div class='row window-path'>
			<input type='text' class='window-path-input' />
			<div class='window-button refresh'>R</div>
		</div>
	</div>
	
	<div class='window-content'>
	
	</div>
	
	<div class='window-resizer resizeCurs'></div>
</div>